.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* display: grid;
place-items: center; */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: black;
  color: white;
  border: purple solid 4px;
  border-left: none;
  border-top: none;
  border-right: none;
}

nav ul {
  display: flex;
  padding-right: 100px;
  font-size: 20px;
}

nav ul li {
  display: block;
  padding: 10px;
  color: white;
}

nav ul li:hover {
  color: white;
  border: solid purple 1px;
  border-radius: 10px;
  background-color: rgb(94, 18, 156);
}

#title_img {
  height: 65px;
  width: 110px;
  margin-left: 20px;
}

#title_img:hover {
  animation: saturn-spinner .5s infinite;
}

@keyframes saturn-spinner {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

nav span {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav span b {
  padding-left: 10px;
  font-size: 26pt;
}

#login_button {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

#login_button button {
  border: solid purple 3px;
  padding: 5px;
}

.main {
  background-color: grey;
  height: 140vh;
  display: grid;
}

.sidebar {
  background-color: rgba(180, 96, 180, 0.795);
}

.content {
  background-color: black;
}






